* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.topSection {
    height: 100vh;
    width: 100vw;
    background-image: url(sc.png);
}

.logo {
    margin: auto auto auto 30px;
    float: left;
    color: aliceblue;
}

.home:hover {
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef4c90;
    border-radius: 5px;
    border: 2px solid rgb(247, 83, 247);
}

.head {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background-color: #aa265c;
    position: fixed;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav li {
    margin: 30px;
}

.nav li a {
    text-decoration: none;
    color: aliceblue;
}

.intro {
    height: 80%;
    width: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    padding-left: 40px;
}

.hello {
    margin-bottom: -20px;
}

.hello,
.and {
    font-size: 50px;
    font-weight: 400;
}

.mayur {
    font-size: 120px;
    font-weight: bold;
}

.dobtn {
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
}

.btn,
.cv {
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
    border: 3px solid #aa265c;
    height: 50px;
    width: 140px;
    color: white;
}

.deteal .cv a {
    font-size: 20px;
    text-transform: none;
}

.btn:hover {
    background-color: #aa265c;
    transition: 1s;
    cursor: pointer;
}

.cv:hover {
    background-color: #aa265c;
    transition: 1s;
    cursor: pointer;
}

.aboutme {
    margin-bottom: 20px;
    width: 100vw;
    text-align: center;
}

.aboutme1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.who {
    font-size: 20px;
    font-weight: 800;
}

.softe {
    color: #aa265c;
}

.whoim {
    color: #aa265c;
}

.mideel {
    display: flex;
    justify-content: center;
}

.imge {
    height: 400px;
    width: 350px;
}

.introdoction {
    margin: 50px auto;
}

.imge,
.info {
    margin: 40px;
    font-size: 25px;
}

.img {
    height: 400px;
    width: 300px;
}

.img:hover {
    height: 80vh;
    width: 40vw;
    transition: 03s;
}

.names {
    margin-left: 90px;
    color: aliceblue;
    font-size: 25px;
    margin-top: 20px;
}

.certificate {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    background-color: black;
}

.bar {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    color: wheat;
    background-color: black;
    border-radius: 15px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.progres {
    width: 160px;
    height: 160px;
    position: absolute;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px 0px rgba(255, 255, 255, 1), 0px 12px 10px 10px rgba(0, 0, 0, 0.05)
}

.html {
    margin-top: 30px;
}

.number {
    font-weight: bold;
    font-size: 25px;
    color: rgb(237, 231, 231);
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
}

.java {
    stroke-dashoffset: 472;
    animation: java 4s linear forwards;
}

@keyframes java {
    100% {
        stroke-dashoffset: 100;
    }
}

.htmlcss {
    stroke-dashoffset: 472;
    animation: html 4s linear forwards;
}

@keyframes html {
    100% {
        stroke-dashoffset: 120;
    }
}

.js {
    stroke-dashoffset: 472;
    animation: js 3.5s linear forwards;
}

@keyframes js {
    100% {
        stroke-dashoffset: 140;
    }
}

.react {
    stroke-dashoffset: 472;
    animation: react 3.2s linear forwards;
}

@keyframes react {
    100% {
        stroke-dashoffset: 145;
    }
}

svg {
    position: relative;
    top: 0;
    left: 0;
}

.project {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.protag {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    color: wheat;
    border: 5px solid #aa265c;
    border-radius: 15px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.converter {
    height: 100px;
}

.projecticon {
    width: 200px;
    height: 200px;
    background-color: white;
}

.deteal {
    height: 200px;
    width: 291px;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.contact {
    height: 80vh;
    width: 100vw;
    /* margin: 30px; */
    /* display: flex; */
}

.contactme {
    width: 50vw;
    height: 50vh;
    margin: 20px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.cotactfont {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: #aa265c;
    border-bottom: 2px solid rgb(232, 204, 204);
}

.namecal {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    margin: 20px auto 10px auto;
    /* margin-bottom: 10px; */
    border-bottom: 2px solid rgb(232, 204, 204);
}

table {
    width: 100vw;
}

.table {
    margin-top: 50px;
}

tr {
    height: 50px
}

table,
th,
tr,
td {
    border: 2px solid black;
    font-size: 25px;
}

.icons {
    width: 98vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.icons .btn {
    margin: -10px 30px auto auto;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
    border: 3px solid #aa265c;
    height: 50px;
    width: 140px;
    color: white;
}

.educaton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons .btn:hover {
    background-color: #aa265c;
    transition: 0.5s;
    cursor: pointer;
}

.icon-bar {
    font-size: 35px;
    margin: 20px;
    padding: 10px;
}

.icon-bar i {
    color: black;
}

.form2 {
    height: 80vh;
    width: 100vw;
    display: flex;
}

.formarea {
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
}

.formstyel {
    font-size: 30px;
}

.forminfo {
    font-size: 35px;
    color: #aa265c;
}

input {
    width: 50%;
    font-size: 25px;
}

textarea {
    height: 50px;
    width: 350px;
}

.btnadj {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menubar {
    display: none;
}

@media screen and (max-width: 630px) {
    .mayur {
        font-size: 70px;
        font-weight: bold;
    }
    * {
        overflow-x: hidden;
    }
    .intro {
        margin-top: 50px;
        height: 80%;
        width: 100%;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: left;
        padding-left: 40px;
    }
    .menubar {
        display: flex;
        margin-right: 30px;
        cursor: pointer;
    }
    .head {
        width: 100vw;
        height: 70px;
        background-color: #aa265c;
        /* margin-top: -300px; */
    }
    .nav {
        /* height: 100%; */
        width: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #aa265c;
        background-size: cover;
        margin-top: 400px;
        /* display: none; */
    }
    .mideel {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .certificate {
        height: 290vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        overflow-x: hidden;
        background-color: black;
    }
    .bar {
        height: 290vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .project {
        height: 290vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .form2 {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formarea {
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .contactme {
        width: 100vw;
        height: 100vh;
        margin: 20px;
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    .form {
        height: 100%;
        width: 100%;
    }
    table {
        width: 100%;
    }
    .table {
        margin-top: 25%;
    }
    tr {
        height: 25px
    }
    table,
    th,
    tr,
    td {
        border: 2px solid black;
        font-size: 15px;
    }
    .images {
        margin-left: -30px;
    }
    .img:hover {
        height: 100%;
        width: 100%;
    }
}